@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.profile-dee{
    color: #803ba5;
    font-family: 'Pacifico', cursive;
    box-shadow: #c296d9 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.profile-btn{
    background-color: #803ba5;
    border-color: #c296d9;
}