.footer{
	margin-top: auto;
	padding-left: 100px;
	background-color: #FACE48;
	display:flex;
	align-items: center;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	width: 100%;
  }

  .social-icons{
	width: 250px;
	padding-right: 50px;
	display: flex;
	justify-content: space-between;
  }

  .social-icon{
	color: #429E97 !important;
  }

  .social-icon:hover{
	cursor:pointer;
	color: white !important;
  }