@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px; 
    flex: 1;
    max-width: 15%;
    height: auto;
}

.card-title {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(195,0,36);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-text {
    text-align: center;
    color: grey;
    font-family: 'Poppins', sans-serif;
}

/* body {

    background-color: #FACE48;
} */

.vs {
    color: rgb(0,79,158);
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}

.card {
    border-color: var(--dark-purple);
}

.col {
    padding: 50px 50px 20px 50px;
    background-color: var(--cream);
}

.image-containter {
    display: flex;
}

.imgvs {
    padding-top: 50px;
    color: rgb(195,0,36);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.score {
    color: rgb(0,79,158);
    font-weight:bold;
    font-family:'Poppins', sans-serif;
}



