@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

.player-profiles{
    display:flex;
    flex-direction: column;
    justify-content: center;
  
}

.players-cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:2em;
}

/* title. Have just added some random styles here*/
.profiles-title{
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}